@import "tailwindcss";

@theme {
  --color-primary: #FF9025;
--color-primary-50:  #fff4e8;
--color-primary-100: #ffe4c2;
--color-primary-200: #ffd19a;
--color-primary-300: #ffbd70;
--color-primary-400: #ffa94a;
--color-primary-500: #ff9025; /* base */
--color-primary-600: #e67f1f;
--color-primary-700: #cc6e19;
--color-primary-800: #b35e14;
--color-primary-900: #8c460e;

  --color-indigo-50: var(--color-primary-50);
  --color-indigo-100: var(--color-primary-100);
  --color-indigo-200: var(--color-primary-200);
  --color-indigo-300: var(--color-primary-300);
  --color-indigo-400: var(--color-primary-400);
  --color-indigo-500: var(--color-primary-500);
  --color-indigo-600: var(--color-primary-600);
  --color-indigo-700: var(--color-primary-700);
  --color-indigo-800: var(--color-primary-800);
  --color-indigo-900: var(--color-primary-900);
}

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }

    .print-only {
      display: block !important;
    }

    body {
      background-color: white !important;
    }
  }
}

.print-only {
  display: none;
}